@font-face {
	font-family: 'Roboto Slab';
	src: url('hinted-RobotoSlab-Light.eot');
	src: url('hinted-RobotoSlab-Light.eot?#iefix') format('embedded-opentype'),
		url('hinted-RobotoSlab-Light.woff') format('woff'),
		url('hinted-RobotoSlab-Light.ttf') format('truetype'),
		url('hinted-RobotoSlab-Light.svg#RobotoSlab-Light') format('svg');
	font-weight: 300;
	font-style: normal;
}

.btn{
    background-color: purple;
    border-radius: 5px;
    border-color: olive;
    padding: auto;
    box-shadow:-5px -5px 30px 5px purple, 5px 5px 30px 5px red;
    font-size: larger;
    font-weight: bolder;
    color: silver;
    text-decoration: slateblue;
    font-family: 'Roboto Slab';
   
    
}

.txt{
    text-align: center;
    padding: 100px;
    color: purple;
    text-shadow: 1px 3px 4px yellowgreen, 2px 1px gold, 3px 2px 4px greenyellow, 4px 4px 4px plum;
    font-family: 'Roboto Slab';
  
}

.lightDiv{
    padding: 50px;
    margin-top: auto;
    margin-left: auto;
    margin-right: auto;
    width: fit-content;
    align-content: center;   

}

.h1{
    text-align: center;
  align-content: center;
  font-size:50px;
  color: greenyellow;
  text-shadow: 4px 4px 4px goldenrod;
  font-family: 'Roboto Slab';

}

onBtn{
    margin-left: 0px;
}
body {
    background: linear-gradient(rgb(231, 17, 213), wheat , rgb(32, 48, 197))
}

